<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Yoga</ion-title>
    </ion-toolbar>
    <!-- <ion-img height="100" src="assets/arms.jpg"></ion-img> -->
    <!-- <div class="top-img">
      <img src="assets/home.png" height="250" />
    </div> -->
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-content>
    <div class="top-img">
      <img src="assets/home.png" height="250" />
    </div>
    <ion-list>
      <!-- <ion-item>
        <div class="pad">
          <h2>What is yoga</h2>
          <p>
            Donec magna odio, ac nibh
            et, vestibulum eleifend felis. Donec
             ex non quam vulputate
            malesuada in a magna. Praesent massa arcu,
             id pharetra et, cursus at
            lectus.
          </p>
          <p>More contents...........</p>
          <p>More contents...........</p>
          <h2>Full Session</h2>
          <p>For full session video </p>
          <ion-button expand="block">A block button</ion-button>
        </div>
      </ion-item> -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Arms</h2>
          <p>For healthy arms</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Shoulders</h2>
          <p>For healthy shoulders</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/arms.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Legs</h2>
          <p>For healthy legs</p>
        </ion-label>
      </ion-item>

      
    </ion-list>
  </ion-content>
</ion-content>
