<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Pranayama</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        <ion-icon slot="end" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-img">
    <img src="assets/home.png" height="250" />
  </div>
  <ion-list>
    <ion-item>
      <div>
        <h2>Pranayama</h2>
        <p>
          Donec magna odio, ac nibh et, vestibulum eleifend felis. Donec ex non
          quam vulputate malesuada in a magna. Praesent massa arcu, id pharetra
          et, cursus at lectus.
        </p>
      </div>
    </ion-item>
    <ion-item
      *ngFor="let item of list"
      routerLink="/detail/pranayama/{{item.name}}"
      detail="false"
    >
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.shortDesc}}</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
