<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Full Session</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        <ion-icon slot="end" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-img">
    <img src="assets/home.png" height="250" />
  </div>
  <ion-list>
    <ion-item>
      <div>
        <p>
          Donec magna odio, ac nibh et, vestibulum eleifend felis. Donec ex non
          quam vulputate malesuada in a magna. Praesent massa arcu, id pharetra
          et, cursus at lectus.
        </p>
        <p>More contents....</p>
      </div>
    </ion-item>
    <ion-item>
      <video height="250" controls>
        <source src="assets/sample.mp4" type="video/mp4" />
      </video>
    </ion-item>
  </ion-list>
</ion-content>
