<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">Yoga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-img">
    <img src="assets/home.png" height="250" />
  </div>
  <ion-list>
    <ion-item>
      <div>
        <h2>What is yoga</h2>
        <p>
          Donec magna odio, ac nibh et, vestibulum eleifend felis. Donec ex non
          quam vulputate malesuada in a magna. Praesent massa arcu, id pharetra
          et, cursus at lectus.
        </p>
        <p>More contents...........</p>
        <p>More contents...........</p>
      </div>
    </ion-item>
    <ion-item routerLink="/fullsession" detail="false">
      <ion-label>
        <h2>Full Session</h2>
        <p>To view full session video..</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/asana" detail="false">
      <ion-label>
        <h2>Asana</h2>
        <p>To know more about asana</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pranayama" detail="false">
      <ion-label>
        <h2>Pranayama</h2>
        <p>To know more about pranayama</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/meditation" detail="false">
      <ion-label>
        <h2>Mediation</h2>
        <p>To know more about meditation</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
